SERVICE_NAME='leave-service'
ALLOWED_ORIGINS=*
PORT=3002
DB_HOST='localhost'
DB_DATABASE='lms_db'
DB_USER='your_user'
DB_PASSWORD='your_password'
DB_PORT=5432
RABBITMQ_URL='http://localhost'
JWT_ISSUER='lms-issuer'
KONG_CONSUMER_USERNAME='lms-auth'
LOGSTASH_HOST = 'logstash'
LOGSTASH_PORT = 5044
OTEL_EXPORTER_OTLP_ENDPOINT = 'http://jaeger:4318/v1/traces'
OTEL_TRACES_SAMPLER = 'always_on'
